{% extends 'consultation/layout.html' %}
{% block content %}

<h3>Prescriptions for Consultation {{ consultation.id }}</h3>

{% for p in prescriptions %}
<div class="card mb-3 p-3">
    <strong>Type:</strong> {{ p.prescription_type.prescription_type }} <br>
    <strong>Details:</strong>
    <p>{{ p.prescription }}</p>

    <a href="{% url 'consultation:edit_prescription' p.id %}" class="btn btn-outline-primary btn-sm">Edit</a>
    <a href="{% url 'consultation:delete_prescription' p.id %}" class="btn btn-outline-danger btn-sm" onclick="return confirm('Are you sure you want to delete this prescription?');"> Delete</a>


</div>
{% empty %}
<p>No prescriptions created yet.</p>
{% endfor %}

{% endblock %}
