{% extends 'appointment/base.html' %}
{% block content %}
<div class="container mt-5">
    <h2>My Appointments</h2>

    {% if appointments %}
        <ul class="list-group mt-3">
            {% for appt in appointments %}
                <li class="list-group-item">
                    <strong>Doctor:</strong> Dr. {{ appt.doctor.fname }} {{ appt.doctor.lname }} <br>
                    <strong>Date & Time:</strong> {{ appt.appointed_datetime|date:"D, d M Y H:i" }} <br>
                    <strong>Status:</strong> {{ appt.status|title }} <br>
                    <strong>Reason:</strong> {{ appt.get_visit_reason_display }} <br>
                    {% if appt.status == "cancelled" %}
                        <strong>Cancelled by:</strong> {{ appt.cancelled_by }} <br>
                        <strong>Reason:</strong> {{ appt.cancellation_reason }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-info mt-3">You have no appointments.</div>
    {% endif %}
</div>
{% endblock %}
