{% extends 'doctor/base.html' %}
{% block content %}

<h3 class="mb-4">Change Password</h3>

<form method="POST" class="p-4 shadow-sm border rounded bg-white w-100">
    {% csrf_token %}

    <div class="row">
        <div class="col-12 mb-3">
            <label class="form-label">Current Password</label>
            <input type="password" name="current_password" class="form-control border-1" required>
        </div>

        <div class="col-md-6 mb-3">
            <label class="form-label">New Password</label>
            <input type="password" name="new_password" class="form-control" required>
        </div>

        <div class="col-md-6 mb-3">
            <label class="form-label">Confirm New Password</label>
            <input type="password" name="confirm_password" class="form-control" required>
        </div>
    </div>

    <button class="btn btn-primary w-100 py-2 mt-3">Update Password</button>
</form>

{% endblock %}
