{% extends 'triage/layout.html' %}
{% block content %}
    <h2>{{ nurse.department }}</h2>
    <h3>Nurse: <strong>{{ nurse }}</strong></h3> 
    <h5>Appointments</h5>
        <div class="row">
            {% for appointment in appointments %}
            <div class="card-items col-lg-6 mb-3">                  
                <div class="card border border-success">
                    <div class="card-body">
                        Appointment ID: {{ appointment.id }} <br/>
                        Appointed Date: {{ appointment.appointed_datetime }} <br/>
                        Patient ID: {{ appointment.patient_id }}<br/>
                        Patient Name: {{ appointment.patient }}<br/>
                        Doctor Name: {{ appointment.doctor }}<br/>

                        <div class="control-buttons mt-2">
                            <a href="{% url 'triage:fill_triage' appointment.id %}" class="btn btn-primary">Fill Triage</a>
                            <a href="" class="btn btn-danger">Remove</a>             
                        </div>
                            
                    </div>
                </div>
            </div>

            {% empty %}
            <p>No available appointment</p>              
            {% endfor %}
        </div>

{% endblock %}