{% extends 'triage/layout.html' %}
{% block content %}
    <h2>Department: </h2> 
    Appointments
        <ul class="list-group">
            {% for appointment in appointments %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="list-text">
                    Appointment ID: {{ appointment.id }} <br/>
                    Appointed Date: {{ appointment.appointed_datetime }} <br/>
                    Patient ID: {{ appointment.patient_id }}<br/>
                    Patient Name: {{ appointment.patient }}<br/>
                    Doctor Name: {{ appointment.doctor }}<br/>
                    <a href="" class="btn btn-primary">Fill Triage</a>
                    
                    <!-- <div class="list-button">
                        {% if appt.status in 'pending,confirmed' and appt.is_cancellable %}
                            <a href="{% url 'appointment:cancel_appointment' appt.id %}" 
                               class="btn btn-outline-danger btn-sm">Cancel Appointment</a>
                        {% elif appt.status in 'pending,confirmed' and not appt.is_cancellable %}
                            <small class="text-muted">Cannot cancel<br>(less than 2 days)</small>
                        {% endif %}
                    </div> -->
                    </div>
            </li>
            {% empty %}
            <li class="list-group-item">No available appointment</li>
            {% endfor %}

        </ul>
{% endblock %}