{% extends "appointments/layout.html" %}
{% block body %}
    <h1>{{dept}}</h1>

    <h1>Doctors</h1>
    <ul>
        {% for doctor in doctors %}
        <li> {{ doctor }}</li>
        {% endfor %}
    </ul>

    <form action="{% url 'assign_doctor' dept.id %}" method="POST">
        {% csrf_token %}
        <select name="doctor">
            {% for doctor in no_assign_doctors %}
            <option value="{{ doctor.id }}">
                {{ doctor }}
            </option>
            {% empty %}
            <option value="">No Available Doctor</option>
            {% endfor %}
        </select>
        <input type="submit" value="Assign">
    </form>
    <a href="{% url 'index' %}">Back to Department List</a>


{% endblock%}