{% extends "appointments/layout.html" %}

{%  block body %}
    <h1>{{ message }}</h1>

    <!-- <h1>Doctors</h1>
    {% for doctor in doctors %}
        <h3>{{ doctor }}</h3>
    {% empty %}
        <h3>No data</h3>
    {% endfor %}

    <h1>Patients</h1>
    {% for patient in patients %}
        <h3>{{ patient }}</h3>
    {% empty %}
        <h3>No data</h3>
    {% endfor %} -->

    <h1>Appointments</h1>
    <ul>
        {% for appointment in appointments %}
        <li>
            <a href="{% url 'appointment' appointment.id %}">
                {{appointment.id}}.  {{ appointment }}
            </a>
        </li>
        {% empty %}
        <li>No Appointments</li>
        {% endfor %}
    </ul>

    <h1>Departments</h1>
    <ul>
        {% for department in departments %}
        <li>
            <a href="{% url 'department' department.id %}">
                {{forloop.counter}} {{department}}
            </a>
        </li>
        {% endfor%}
    </ul>
{% endblock %}