*{
    font-family: 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
    color: darkblue;
}
ul{
    text-align: left;
    align-items: center;
    list-style-type: none;
}
a{
    text-decoration: none;
}