
{% extends 'patient/layout.html' %}
{% block body %}
<div class="row justify-content-center align-items-center">
<div class="profile-info border m-3 p-3">
    <h3>Personal Information</h3>
        <ul>
            <li><strong>Name</strong>: {{fname}} {{lname}} </li>
            <li><strong>Email</strong>: {{email}}</li>
            <li><strong>DOB</strong>: {{date_of_birth}}</li>
            <li><strong>Gender</strong>: {{gender}}</li>
            <li><strong>Marital Status</strong>: {{marital_status}}</li>
            <li><strong>Phone</strong>: {{phone}}</li>
            <li class="mb-2"><strong>Address</strong>: {{address}}</li>
            <li><small>Registeration Date: {{created_at}} </small></li>
            <li><small>Updated Date: {{updated_at}}</small></li>
        </ul>
    <div class="setting_buttons"></div>
        <a href="{% url 'patient:edit_profile' %}"class="btn btn-warning me-2">Edit Profile</a>
        <a href="{% url 'appointment:search_doctors' %}" class="btn btn-dark">Return</a>
    </div>
</div>
</div>

    

{% endblock %}